**EECS 4412 TASK 5**
(216771875-216328387-215122856)


Setting up Python to open the CSV file:

In [21]:
import numpy as np
import scipy as sp
import pandas as pd
from sklearn.metrics.pairwise import euclidean_distances
from sklearn.metrics.pairwise import cosine_similarity
from scipy.spatial import distance

table = pd.read_csv('216771875-216328387-215122856-T5Data.csv')
table.head()

   age  studytime  freetime  absences  G3
0   18          2         3         6   6
1   17          2         3         4   6
2   15          2         3        10  10
3   15          3         2         2  15
4   16          2         3         4  10

In [22]:
#Droping unused data
#cat_feat = ['age', 'absences', 'G3']
#table.drop(cat_feat, axis=1, inplace=True)
#table.head()

In [23]:
#Creating Cosine Similarity Matrix
cosMatrix = cosine_similarity(table, table)
pd.DataFrame(cosMatrix).to_csv("216771875-216328387-215122856-T5CO.csv")

#Creating Euclidean Distance Matrix
eucMatrix = euclidean_distances(table, table)
pd.DataFrame(eucMatrix).to_csv("216771875-216328387-215122856-T5EU.csv")

Finding Mahalanobis Distances

In [24]:
def mahalanobis(x=None, data=None, cov=None):
    
    #Code Snippet Below from: https://www.machinelearningplus.com/statistics/mahalanobis-distance/
    x_minus_mu = x - np.mean(data)
    if not cov:
        cov = np.cov(data.values.T)
    inv_covmat = sp.linalg.inv(cov)
    left_term = np.dot(x_minus_mu, inv_covmat)
    mahal = np.dot(left_term, x_minus_mu.T)
    return mahal.diagonal()

tableA = table[['age', 'studytime', 'freetime', 'absences', 'G3']]
tableA['mahalanobis'] = mahalanobis(x=tableA, data=table[['age', 'studytime', 'freetime', 'absences', 'G3']])
tableA.head()

C:\Users\trevo\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3438: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

   age  studytime  freetime  absences  G3  mahalanobis
0   18          2         3         6   6    14.249919
1   17          2         3         4   6     6.836575
2   15          2         3        10  10     3.435215
3   15          3         2         2  15     4.181995
4   16          2         3         4  10     0.842516

In [25]:
pd.DataFrame(tableA).to_csv("216771875-216328387-215122856-T5MA.csv")